@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "IndexForAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="RoleManager" asp-controller="Admin" >Role Manager</a>