@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "IndexForAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-movie-admin">
    <center>
        <h1>Admin Panel</h1>
    </center>
    
    <div class="link-container">
        <div class="link-item">
            <div class="link-item-container">
                <a asp-action="MovieList" asp-controller="Movie" class="image">
                    <img src="~/img/Movie.png" alt="movie">
                </a>
            </div>
            <a asp-action="MovieList" asp-controller="Movie" class="link">Manage Movie</a>
        </div>
        @*<div class="link-item">
            <div class="link-item-container">
                <a asp-action="SeriesList" asp-controller="TvSeries" class="image">
                    <img src="~/img/Movie.png" alt="movie">
                </a>
            </div>
            <a asp-action="ListMovie" asp-controller="Movie" class="link">Manage Tv-Series</a>
        </div>
        *@
        <div class="link-item">
            <div class="link-item-container">
                <a asp-action="DirectionList" asp-controller="Direction" class="image">
                    <img src="~/img/Direction.png" alt="">
                </a>
            </div>
            <a asp-action="DirectionList" asp-controller="Direction" class="link">Manage Direction</a>
        </div>

        <div class="link-item">
            <div class="link-item-container">
                <a asp-action="GenreList" asp-controller="Genre" class="image">
                    <img src="~/img/Genre.png" alt="">
                </a>
            </div>
            <a asp-action="GenreList" asp-controller="Genre" class="link">Manage Genre</a>
        </div>

        <div class="link-item">
            <div class="link-item-container">
                <a asp-action="ActorList" asp-controller="Actor" class="image">
                    <img src="~/img/Actor.png" alt="">
                </a>
            </div>
            <a asp-action="ActorList" asp-controller="Actor" class="link">Manage Actor</a>
        </div>

        <div class="link-item">
            <div class="link-item-container">
                <a asp-action="RoleManager" asp-controller="Admin" class="image">
                    <img src="~/img/Role Model.png" alt="">
                </a>
            </div>
            <a asp-action="RoleManager" asp-controller="Admin" class="link">Role Manager</a>
        </div>
    </div>
</div>
