@model CommentViewModel
@{

}
<div>
    <form method="post" asp-controller="Movie" asp-action="Comment">
        <input asp-for="MovieId" type="hidden" />
        <input asp-for="MainCommentId" type="hidden" />
        <input asp-for="Message" />
        <button type="submit">
            Submit
        </button>
    </form>

</div>
